* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body,html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color:#19191b;
    color: white;
}
.BoxColor{
    background-color: #252527;
}
.title{
    color: #ffd04b;
    border-left:3px solid #ffd04b;
    padding-left: 10px;
    margin: 10px 0;
}
#app{
    width: 100%;
    height: 100%;
}
ol, ul, li {
    list-style: none;
}
 
img {
    max-width: 100%;
    height: auto;
    display: block;
}
 
a {
    text-decoration: none;
    color: inherit;
}
button:hover{
    cursor: pointer;
}
input, button, textarea, select {
    font: inherit;
}
input, button, textarea, select:focus {
    outline:none;
}